* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.view-high-scores {
    color: #E866EC;
}

.begin-quiz-container, 
.single-question-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.start-quiz-btn,
.submit-scores-btn {
    background-color:#351E75;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 5px;
}

/* quiz play section */

.question-answer-choice {
    background-color:#351E75;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 5px;
}

.answer-result {
    text-align: center;
    width: 80%;
    margin: 2rem auto;
    border-top: 1px solid grey;
    padding-top: 1rem;
}

/* final score section */

.final-score-container,
.final-score-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initials-value-display {
    height: 2.25rem;
    width: 15rem;
}

/* high scores section */

.scores-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores-container li {   
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
}

/* Hide containers */

.hide {
    display: none;
}

@media screen and (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
    }

    .view-high-scores {
        cursor: pointer;
    }

}